<div
  [ngClass]="classes"
  [ngStyle]="{ 'background-color': backgroundColor }"
  ngDefaultControl [ngModel]="light"
>
  <h1 style="text-align: center;">h1 Header Example</h1>
  <hr>
  <h2>This is an example of an h2 header</h2>
  <h3>This is an example of an h3 header</h3>
  <h4>This is an example of an h4 header</h4>
  <h5>This is an example of an h5 header</h5>
  <hr>
  <p>This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.<br>
    <br>
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
    This is an example of a paragraph. This is an example of a paragraph.
  </p>
</div>