.theme-button {
  border: 0;
  margin-top: 12.5px;
  margin-right: 7.5px;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  font-size: 10px;
  background-color: #fff;
  width: 45px;
  cursor: pointer;
}

button:hover {
  opacity: 0.667;
}

.theme-button--light {
  background-color: #000;
}
.theme-button--dark {
  background-color: #fff;
}

/* Large Mobile */
@media (min-width: 414px) {
  .theme-button {
    font-size: 12px;
    width: 49px;
    margin-top: 10px;
    margin-right: 0;
  }
}

/* Tablet */
@media (min-width: 834px) {
  .theme-button {
    font-size: 15px;
    width: 54px;
    margin-top: 11px;
    margin-right: 0;
  }
}

/* Full */
@media (min-width: 1112px) {
  .theme-button {
    font-size: 18px;
    width: 60px;
    margin-top: 14px;
    margin-right: -10px;
  }
}
