.nav-item {
  font-family: 
    'Segoe UI', 
    'Nunito Sans', 
    'Helvetica Neue', 
    Helvetica, Arial, 
    Tahoma, 
    Geneva, 
    Verdana, 
    sans-serif;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 1;
  margin-left: 60px;
}

.nav-item--light {
  color: #000;
  background-color: #fff;
}

.nav-item--dark {
  color: #fff;
  background-color: #000;
}

.nav-item:hover {
  opacity: 0.667;
}