<div
  [ngClass]="classes"
  [ngStyle]="{ 'background-color': backgroundColor }"
  ngDefaultControl
  [ngModel]="light"
>
  <br />
  <h1 [ngClass]="classes" [ngStyle]="{ 'background-color': backgroundColor }">
    Get Angularized.<br />
    Don't try to do everything.<br />
    Write <em>haiku</em>-like code.<br />
  </h1>
  <br />
  <button
    [ngClass]="{
      'get-started-button': true,
      'get-started-button--light': !light,
      'get-started-button--dark': light
    }"
    routerLink="/angularization"
  >
    Get Started
  </button>
  <br />
  <br />
  <br />
  <p style="text-align: center; font-weight: 500">
    Designed and developed by
    <a href="https://github.com/pjnalls/Angularization">@pjnalls</a>
  </p>
</div>
