.nav-brand {
  float: left;
  font-size: 40px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0;
  padding-bottom: 0;
}
.nav-brand--light { color: crimson; background-color: #fff; }
.nav-brand--dark { color: #fff; background-color: #000; }