* {
  font-family: 
    'Segoe UI', 
    'Nunito Sans', 
    'Helvetica Neue', 
    Helvetica, Arial, 
    Tahoma, 
    Geneva, 
    Verdana, 
    sans-serif;
  overflow-wrap: break-word;
}

@mixin change-font-size($font-size) {
  h1 { font-size: 60px + $font-size; }
  h2 { font-size: 48px + $font-size; }
  h3 { font-size: 36px + $font-size; }
  h4 { font-size: 24px + $font-size; }
  h5 { font-size: 18px + $font-size; }
  p, a { font-size: 15px + $font-size; }
}

.small-size { @include change-font-size(3px); }
.normal-size { @include change-font-size(9px); }
.large-size { @include change-font-size(18px); }

.active-route { color: crimson; }
a { text-decoration: none; }

@mixin change-theme($light) {

  @if($light) {
    h1, h2, h3, h4, h5, p { 
      color: #000;
    }
    button {
      color: #fff !important;
      background-color: #000 !important;
    }
    .document {
      background-color: #fff !important;
    }

    p a:link, p a:active, li a:link, li a:active { color: #05a; }
    p a:visited, li a:visited { color: #307; }
    p a:hover, li a:hover{ color: #a0a; cursor: pointer; }
    p a { text-decoration: none; }
  }
  @else {
    h1, h2, h3, h4, h5, p { 
      color: #fff;
    }
    button {
      color: #000 !important;
      background-color: #fff !important;
    }
    
    .document {
      background-color: #000 !important;
    }

    p a:link, p a:active, li a:link, li a:active { color: #59f; }
    p a:visited, li a:visited { color: #a7f; }
    p a:hover, li a:hover { color: #f5f; cursor: pointer; }
    p a { text-decoration: none; }
  }
}

.light { @include change-theme(true); }
.dark { @include change-theme(false); }

ul {list-style-type: circle !important; }