<div
  class="footer-container"
  [ngClass]="classes"
  [ngStyle]="{ 'background-color': backgroundColor }"
  ngDefaultControl [ngModel]="light"
  ngDefaultControl [ngModel]="fontSize"
  ngDefaultControl [ngModel]="fidelity"
>
  <div style="float: left; width: 33%;">
    <font-size 
      [fontSize]="fontSize"
      [light]="light"
      [ngClass]="classes" 
      [ngStyle]="{ 'background-color': backgroundColor }"
      >
    </font-size>
  </div>
  <div style="float: left; width: 33%; text-align: center;">
    <quality 
      [fidelity]="fidelity"
      [light]="light"
      [ngClass]="classes" 
      [ngStyle]="{ 'background-color': backgroundColor }"
      >
    </quality>
  </div>
  <div style="float: left; width: 33%; text-align: right;">
    <theme-button
      [light]="light" 
      [ngClass]="classes" 
      [ngStyle]="{ 'background-color': backgroundColor }">
    </theme-button>
  </div>
</div>
