.quality { 
  font-weight: 700; 
  width: 90px;
  height: 20px;
  line-height: 15px;
  margin: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 10%;
  text-align: center;
  cursor: pointer;
  font-size: 45px; 
}

span:hover { opacity: 0.667; }

.normal-dash, .high-dash { padding-left: 10px; }

.quality--light { color: #000; background-color: #fff;}
.quality--dark { color: #fff; background-color: #000;}

.selected-dash--light { color: #fff !important; -webkit-text-stroke: 1.5px #000; }
.selected-dash--dark { color: #000 !important; -webkit-text-stroke: 1.5px #fff; }