<div
  [ngClass]="classes"
  [ngStyle]="{ 'background-color': backgroundColor }"
  ngDefaultControl [ngModel]="light"
>
<h2 style="text-align: center;">About</h2>
<hr>
<p>
  <b>Forzen<span>.</span>io</b> provides <em>Zenful</em> visual test-driven, component-driven design systems, development processes, and web applications using Angular (TBD React and Vue) and <a href="https://storybook.js.org/"></a>Storybook.js.
  <br>
  <br>
   We strive to alleviate the ever prevalent angst of front-end engineering and mitigate it through thorough research and full guides to <a routerLink="/angularization">Angularization</a> processes.
</p>
  <br>
  <br>
<p style="text-align: right"> — <a href="https://pjnalls.com">@pjnalls</a></p>
</div>
