<div
  class="navbar-container"
  [ngClass]="classes"
  [ngStyle]="{ 'background-color': backgroundColor }"
  ngDefaultControl [ngModel]="brand"
  ngDefaultControl [ngModel]="light"
  ngDefaultControl [ngModel]="navItems"
>
  <div style="float: left;">
    <nav-brand 
      [label]="brand"
      [light]="light"
      [ngClass]="classes" 
      [ngStyle]="{ 'background-color': backgroundColor }"
      >
    </nav-brand>
  </div>
  <div>
    <ul 
      *ngFor="let item of navItems"
      [ngClass]="classes"
      [ngStyle]="{ 'background-color': backgroundColor }"
    >
      <li>
        <nav-item 
          [label]="item"
          [light]="light" 
          [ngClass]="classes" 
          [ngStyle]="{ 'background-color': backgroundColor }">
        </nav-item>
      </li>
    </ul>
  </div>
</div>
