<div
  class="navbar-container"
  [ngClass]="classes"
  [ngStyle]="{ 'background-color': backgroundColor }"  
>
  <div style="float: left;">
    <nav-brand 
      [navModel]="navModel"
      [ngClass]="classes" 
      [ngStyle]="{ 'background-color': backgroundColor }"
      >
    </nav-brand>
  </div>
  <div>
    <ul 
      *ngFor="let item of navItems"
      [ngClass]="classes"
      [ngStyle]="{ 'background-color': backgroundColor }"
    >
      <li>
        <nav-item 
          [navModel]="{ light: navModel.light, label: item  }"
          [ngClass]="classes" 
          [ngStyle]="{ 'background-color': backgroundColor }">
        </nav-item>
      </li>
    </ul>
  </div>
</div>
