<div
  [ngClass]="classes"
  [ngStyle]="{ 'background-color': backgroundColor }"
  ngDefaultControl
  [ngModel]="light"
>
  <h2 style="text-align: center">Contact</h2>
  <br />
  <p>
    This website is currently maintained by
    <a href="https://pjnalls.com">pjnalls</a>.<br />
    <br />
    See all contributions to open source on
    <a href="https://github.com/pjnalls">GitHub (@pjnalls)</a>.<br />
    <br />
    Follow me on
    <a href="https://twitter.com/pjnalls">Twitter (@pjnalls)</a>.<br />
    <br />
    Be sure to give
    <a href="https://github.com/pjnalls/Angularization">Angularization</a> a ⭐
    for us on GitHub if you find it useful.<br />
    <br />
  </p>
  <p style="text-align: right">— <a href="https://pjnalls.com">@pjnalls</a></p>
</div>
