<div
  [ngClass]="classes"
  [ngStyle]="{ 'background-color': backgroundColor }"
  ngDefaultControl [ngModel]="light"
>
<h2 style="text-align: center;">Angularization</h2>
<hr>
<p>
  Are you ready to get Angularized 📐?<br>
  <br> 
  Angularization is a thoroughly-documented guide for visual test-driven, component-driven Angular and Storybook development-process maintained on <a href="https://github.com/pjnalls/Angularization">GitHub</a>.<br>
  <br>
  Below are some articles to help you get started:

</p>

<ul>
  <li><a routerLink="/angularization/nvm">"<em>NVM</em> not NPM"</a></li>
  <li><a routerLink="/angularization/vscode" aria-disabled="true">Visual Studio Code (Writing-in-Progress)</a></li>
  <li><a routerLink="/angularization/vtdd" aria-disabled="true">Visual TDD with Angular and Storybook (Writing-in-Progress) </a></li>
</ul>

<p>
  Please note that the documenation is currently still being written but you can check the living guide on <a href="https://github.com/pjnalls/Angularization">the Angularization GitHub repository</a>
</p>
  <br>
  <br>
<p style="text-align: right"> — <a href="https://pjnalls.com">@pjnalls</a></p>
</div>